
<div class="bg-dark-blue text-center col-md-offset-2 col-xs-12 col-sm-8 col-md-8">
    <h1>Les Bieres</h1>
</div>

<div class=" col-md-offset-2 col-xs-12 col-sm-8 col-md-8">
  <a class="margin btn btn-primary" href="http://localhost:3000/cocktails/new" role="button">Ajouter une Biere</a>
</div>

<div class="col-md-offset-2 col-xs-12 col-sm-8 col-md-8">
  <div class="white_bg opacity">
    <hr />
    <% @cocktails.each do |cocktail| %>
      <h1><%= link_to cocktail.name, cocktail %></h1>

      <h5>Published <%= time_ago_in_words cocktail.created_at %> ago
      <%= link_to "Supprimer", cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-link" %>


      <hr />
    <% end %>
  </div>
</div>
