<div class=" col-md-offset-2 col-xs-12 col-sm-8 col-md-8">
  <a class="margin btn btn-primary" href="http://localhost:3000/cocktails/new" role="button">Ajouter une biere</a>
</div>
<div class="col-md-offset-2 col-xs-12 col-sm-8 col-md-8">
  <div class="white_bg opacity">
    <%= render 'form' %>
</div>
</div>

